* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    margin: 47px 36px 177px 42px;
    display: block;

}

.link-header {
    margin-right: 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #17233D;
    cursor: pointer;
}

.link-header:hover {
    color: #0ACC94;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
}

.link-header:active {
    color: #7EC557;
    font-weight: 600;
    font-size: 19px;
    line-height: 20px;
}

.button-signup {
    Width: 124px;
    Height: 51px;
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer;
}

.button-signup:hover {
    opacity: 0.9;
}

.button-signup:active {
    opacity: 0.7;
}

img {
    width: 595px;
    height: 500px;
    margin-left: 120px;
    margin-right: 85px;
    display: inline-block;
}

.text-div {
    display: inline-block;
    width: 582px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;
    width: 582px;
    margin-bottom: 47px;
}

h2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-bottom: 55px;
}

.link-learnMore {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;
}

.link-learnMore:hover {
    opacity: 0.9;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.link-learnMore:active {
    opacity: 0.7;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}


@media screen and (max-width: 900px) {

    body {
        width: 100%;
    }

    main {
        height: 60%;
        width: 100%;
    }

    header a {
        display: none;
    }

    .button-signup {
        margin-left: 300px;
    }

    img {
        width: 320px;
        height: 290px;

    }

    h1 {
        width: 278px;
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        display: block;
        margin: 0 auto;
    }

    h2 {

        width: 304px;
        font-size: 18px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.5px;
        color: #4B505A;
        display: block;
        margin: 0 auto;
        margin-top: 29px;
        margin-bottom: 26px;

    }

    .link-learnMore {
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        margin: 0 auto;
        display: block;
    }

}